@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html,
head,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dd,
dt,
dl p,
ol,
address,
figure,
form,
legend,
caption,
thead,
article,
th,
td,
aside,
section,
main,
footer,
table,
thead,
figcaption,
tbody,
nav,
video {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

em,
i,
address,
cite {
    font-style: normal;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

table {
    border-collapse: collapse;
}

button {
    border: none;
}

/* 블라인드 텍스트 */
.blind {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}